# Ignorar archivos y carpetas generados por Android Studio
.gradle/
/.idea/
*.iml
build/
captures/
.externalNativeBuild/
.cxx/

# Ignorar archivos de caché del sistema operativo
.DS_Store

# Archivos de configuración locales
local.properties
